<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net45" />
  <package id="MoreLinq.Portable" version="1.4.0" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net45" />
  <package id="NetOffice.Visio" version="1.7.4.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NGitLab" version="2.0.0-beta-0065" targetFramework="net45" />
</packages>