<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MoreLinq.Portable" version="1.4.0" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net45" />
  <package id="NetOffice.Visio" version="1.7.4.4" targetFramework="net45" />
</packages>